---
permalink: /
title: Waken is het geven van ruimte
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--default layout--{{ page.title | slugify }}">
    {% include category-setup.html %}
    {% include header.html %}
    <main id="main" role="main">
      <section class="category category--intro usa-section no-print" id="intro">
        <article>
          <div class="method--panel method--panel--front">
            <div class="intro-card-header usa-grid">
              <p class="usa-font-lead no-print">Waken is het geven van ruimte</p>
            </div>
          </div>
        </article>
      </section>
      <section class="category category--discover usa-section" id="discover">
        <div class="usa-grid">
          <header class="category--header">
              <h1 class="category--title">Vanuit rust kan ruimte ontstaan</h1>
              <p class="category--subtitle">Op uiteenlopende wijze streef ik naar ruimte voor ieders proces.</p>
          </header>

            <article class="method" itemscope itemtype="http://schema.org/Article">
              <div class="method--panel method--panel--front">
                <h2>Wat
                </h2>
                <p>40 jaar ervaring rond sterfprocessen beschikbaar stellen aan belangstellenden</p>

                <h2>Doel</h2>
                <p>Laten Gaan in verbinding en vrijheid</p>

                <p>Ruimte ervaren voor alle facetten van het proces </p>

                <footer>
                </footer>
              </div>
              <div class="method--panel method--panel--back">
                <h2>Uitgangspunten</h2>
                <p>De vergankelijkheid van ons fysieke lichaam zoals wij dat met ons menselijk beperkt bewustzijn zien wordt door een ieder individueel beleefd. Ieder heeft recht op zijn/haar eigen kijk en grens. </p>

                <p>Het (h)er-kennen van grenzen bied ruimte voor vele invalshoeken.</p>

                <p>Dit streven geeft een grensoverstijgend saamhorigheidsgevoel waarin plaats is voor verschillen. Zo kunnen de verschillen die ons tot mens maken ver-reikende & rijke bijdrage leveren voor een ieder. </p>
              </div>
            </div>
            </article>
        </div>
      </section>
    </main>
      {% include footer.html %}
  </body>
</html>
