---
permalink: /modules
title: Modules
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--default layout--{{ page.title | slugify }}">
    {% include category-setup.html %}
    {% include header.html %}
    <main id="main" role="main">

      <section class="category category--discover usa-section">
        <div class="usa-grid">
          <header class="category--header">
              <h1 class="category--title">Modules</h1>
              <!-- <p class="category--subtitle">waakwerkwijze modules</p> -->
          </header>

            <article class="method" itemscope itemtype="http://schema.org/Article">
              <div class="method--panel method--panel--front">
                <h1 class="method--title" itemprop="headline">Waakwerkwijze modules</h1>
                <p>Als onderdeel van het geheel worden verschillende modules geboden;
                	<br>Alle modules worden steeds op maat gemaakt, individueel of op een specifieke groep afgestemd;
                	<br>Modules die aangeboden worden aan meer dan een persoon tegelijkertijd, worden met twee of meer personen aangeboden.</p>
                <p>Binnen groepsmodules is geen plaats voor therapeutisch werk. </p>
                <h2>Doel</h2>
                <p>Met en van elkaar leren en het geheel van verschillende kanten belichten;
                	<br>alle betrokkenen, ongeacht (in welke?) rol, voelen zich gehoord, gezien en gekend.
                </p>
                <h3>a. Kennismaking</h3>
                <p>1 dag of 1 dagdeel, afhankelijk van de doelgroep en groepsomvang.</p>
                <p>Hoe is het om vanuit een niet-weten open te staan voor alle menselijke twijfels rond het einde van het leven zoals wij mensen dat beleven?</p>

              </div>
              <div class="method--panel method--panel--back">
                <h3>b. Wegwijs</h3>
                <p>Hoe respecteer ik mijn menselijke neiging me te verliezen in verklaringen en/of ontreddering? Hoe blijf ik in contact met mijzelf en tegelijkertijd met de situatie waarin ik zicht houd op mijn eigen en andermans schrik, machteloosheid en alle andere zaken die mij raken?</p>
                <h3>c. Verdieping</h3>
                <p>Wanneer ik geraakt ben en oprecht benieuwd durf te zijn naar zowel mijzelf als mijn omgeving, komt er weer ruimte. Daarop volgt herstel van de verbinding. </p>
              </div>
            </div>
            </article>
        </div>
      </section>
    </main>
      {% include footer.html %}
  </body>
</html>
