---
permalink: /overzicht
title: Overzicht
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--default layout--{{ page.title | slugify }}">
    {% include category-setup.html %}
    {% include header.html %}
    <main id="main" role="main">
      <section class="category category--intro usa-section no-print" id="intro">
        <article>
          <div class="method--panel method--panel--front">
            <div class="intro-card-header usa-grid">
              <p class="usa-font-lead no-print">Waken raakt en reikt ruimte aan</p>
            </div>
          </div>
        </article>
      </section>
      <section class="category category--discover usa-section">
        <div class="usa-grid">
          <header class="category--header">
              <h1 class="category--title">Overzicht</h1>
              <p class="category--subtitle">Werk in de humane gezondheidszorg</p>
          </header>

            <article class="method" itemscope itemtype="http://schema.org/Article">
              <div class="method--panel method--panel--front">
                <h1 class="method--title" itemprop="headline"><!-- Loopbaan --></h1>
                <p>Mijn natuurlijke staat van zijn is vanaf 1978 steeds opnieuw afstemmen aan ieder sterfbed.</p>

                <p>In 1984 waakte ik voor het eerst 's nachts bij een dame thuis.
                Voor mij een verademing om zo aanwezig te kunnen zijn bij wat gaande was.</p>

                <p>Vanaf 1998 ontwikkel ik mij voornamelijk (&) steeds verder als thuis-waakster.<br>
                Eerst twintig jaar in Amsterdam en omstreken als lid van het waak nacht team terminale thuis zorg.</p>

                <p>Als waakster in de randstad leerde ik mede dankzij zeer uiteenlopende culturen en religies luisteren naar wat zich aandiende, ver voorbij gesproken taal.</p>

                <p>In mijn ogen een geweldige wereldreis, zo vele levensbeschouwelijke stromingen te mogen proeven.
                Steeds bleek wezenlijk contact mogelijk.<br>
                Zo ontdekte ik dat ik niet aan een specifieke stroming gebonden ben.</p>

                <p>Inmiddels heb ik met honderden mensen in en rond sterfbedden meegeleefd. </p>

              </div>
              <div class="method--panel method--panel--back">
                <h2>Intramuraal</h2>
                <p>Vanaf 1978, steeds in Amsterdam, tenzij anders vermeldt.</p>
                <ul>
                  <li>Algemene ziekenhuizen
                    <br>Afdelingen: chirurgie, geriatrie, interne, kinder, klasse, neurologie, oncologie, paaz, urologie.
                  </li>
                <li>Verpleeg- en verzorgingshuizen:<br>
                    Afdelingen: somatisch en psychogeriatrisch.</li>
                <li>Van april 1984 tot februari 1986 werkte ik als vaste waak-nacht
                werkbegeleidster t.b.v. HBO-Vers en ziekenverzorgenden in opleiding in de (voormalige) Revalidatie Kliniek Overtoom (tegenwoordig Reade).</li>
                <li>Interim praktijkbegeleidster t.b.v. HBO-V en ZVers;</li>
                <li>Verschillende <strong>Hospices</strong> : waaknachtdiensten;</li>
                <li>Nachthoofd verschillende verzorgingshuizen</li>
                </ul>

                <h3>*** Kwaliteit *** </h3>

                <p>Omdat ik mij niet meer kan vinden in het uitdrukken van kwaliteit in punten of sterren heb ik mijn lidmaatschap van beroepsverenigingen opgezegd.<br>
                Voor mij is een Kiwa-keurmerk geen enkele kwaliteitsgarantie gebleken. Daarom volg ik geen keurmerken en codes meer.</p>

                <p>Met plezier houd ik mijn eigen verantwoordelijkheid voor het volgen bijscholingen en ervaar ik mijn leven als een grote leerschool.</p>
              </div>
            </div>
            </article>
        </div>
      </section>
    </main>
      {% include footer.html %}
  </body>
</html>
