---
permalink: /privacy
title: Privacy
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--default layout--{{ page.title | slugify }}">
    {% include category-setup.html %}
    {% include header.html %}
    <main id="main" role="main">
      <section class="category category--intro usa-section no-print" id="intro">
        <article>
          <div class="method--panel method--panel--front">
            <div class="intro-card-header usa-grid">
              <p class="usa-font-lead no-print">Waken raakt en reikt ruimte aan</p>
            </div>
          </div>
        </article>
      </section>
      <section class="category category--discover usa-section">
        <div class="usa-grid">
          <header class="category--header">
<!--               <h1 class="category--title">Privacy</h1> -->
              <p class="category--subtitle">Vetrouwen waarborgen</p>
          </header>

            <article class="method" itemscope itemtype="http://schema.org/Article">
              <div class="method--panel method--panel--front">
                <h1 class="method--title" itemprop="headline">Privacy policy</h1>
                <p><strong>ver trouw en</strong></p>

                <p>In 1980 heb ik de gelofte van geheimhouding afgelegd.</p>
                <p>In de loop der jaren is mij veel toe-vertrouwd.</p>
                <p>Wanneer mij iets toevertrouwd wordt waarmee ik persoonlijk in conflict geraak bespreek ik dit met een eveneens aan geheimhouding gebondene.</p>
                <p>Wanneer mij wettelijk strafbare feiten toevertrouwd worden en ik hiermee persoonlijk in conflict kom bespreek ik dit met een eveneens aan geheimhouding gebondene.</p>
                <p>Dit is in 40 jaar slechts een maal voorgekomen. </p>


                <footer></footer>
              </div>
              <div class="method--panel method--panel--back">
                <h2>Voorwaarden</h2>
                <p>Wij doen er alles aan om uw privacy te waarborgen en gaan daarom zorgvuldig om met persoonsgegevens.</p>
                <ol>
                  <li>Uw persoonsgegevens verwerken in overeenstemming met het doel waarvoor deze zijn verstrekt, deze doelen en type persoonsgegevens zijn beschreven in dit Privacy policy;</li>
                  <li>Verwerking van uw persoonsgegevens beperkt is tot enkel die gegevens welke minimaal nodig zijn voor de doeleinden waarvoor ze worden verwerkt;</li>
                  <li>Vragen om uw uitdrukkelijke toestemming als wij deze nodig hebben voor de verwerking van uw persoonsgegevens;</li>
                  <li>Passende technische en organisatorische maatregelen hebben genomen zodat de beveiliging van uw persoonsgegevens gewaarborgd is;</li>
                  <li>Geen persoonsgegevens doorgeven aan andere partijen, tenzij dit nodig is voor uitvoering van de doeleinden waarvoor ze zijn verstrekt;</li>
                  <li>Op de hoogte zijn van uw rechten omtrent uw persoonsgegevens, u hierop willen wijzen en deze respecteren.</li>
                </ol>
              </div>
            </div>
            </article>
        </div>
      </section>
    </main>
      {% include footer.html %}
  </body>
</html>
