---
permalink: /wie
title: Wie is..?
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--default layout--{{ page.title | slugify }}">
    {% include category-setup.html %}
    {% include header.html %}
    <main id="main" role="main">
      <section class="category category--intro usa-section no-print" id="intro">
        <article>
          <div class="method--panel method--panel--front">
            <div class="intro-card-header usa-grid">
              <p class="usa-font-lead no-print">Waken raakt en reikt ruimte aan</p>
            </div>
          </div>
        </article>
      </section>
      <section class="category category--discover usa-section" id="discover">
        <div class="usa-grid">
          <header class="category--header">
              <h1 class="category--title">Wie</h1>
              <!-- <p class="category--subtitle">Vanuit rust kan ruimte ontstaan</p> -->
          </header>
            <article class="method" itemscope itemtype="http://schema.org/Article">
              <div class="method--panel method--panel--front">
                <h1 class="method--title" itemprop="headline">
                  <!-- Wie is..? -->
                </h1>
                <img src="/images/frans-met-buddy.png" width="410" alt="Frans met Buddy">
                <p style="text-align: right;"><small>2016</small></p>
                <p>Frans van Ogtrop</p>
                <p>Achtergrond informatie.</p>
                <p>Iets over streven naar samenwerken.</p>

                <footer></footer>
              </div>
              <div class="method--panel method--panel--back">
                <h2>Werkwijze</h2>
                <p>Vanaf 1978 neig ik naar wat tegenwoordig “<a href="https://www.bodyofknowledgesociaalwerk.nl/pagina/presentiebenadering" target="_blank">presentiebenadering</a>” heet. Veertig jaar werkervaring maakt dat ik mij blijf onwikkelen en mijn werkwijze zich in geen model laat vatten. </p>
                <p>Veertig jaar werkervaring maakt dat ik mij blijf ontwikkelen en mijn werkwijze zich in geen model laat vatten.</p>

                <p><a href="/loopbaan">Mijn loopbaan</a></p>
                <p><a href="">Ik vergezel graag</a>.</p>
                <p><a href="{{site.baseurl}}/praktijk">Meer praktijk informatie</a></p>
              </div>
            </div>
            </article>
        </div>
      </section>
    </main>
      {% include footer.html %}
  </body>
</html>
