
// Typography
$font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;


$h1-font-size: 3.8rem;
$h2-font-size: 3.4rem;
$h3-font-size: 2.3rem;
$h4-font-size: 2rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;

$base-font-size: 1.7rem;
$small-font-size: 1.4rem;
$tiny-font-size: 1.2rem;

$paragraph-line-height: 1.5;

$color-greenbrown: #89693E;
$color-alt: #9bbba8;

$brown-dark: $color-greenbrown;
$brown-light: $color-alt;

$purple-dark: #68246A;
$purple-light: #B78FB7;

// Colors
$color-blue: $color-alt;
$color-green: #58B84F;
$color-gold: #F3CD32;
$color-red: #E67E37;
$color-blue-dark: $color-greenbrown;
$color-gray-darkest: #222;
$color-gray-dark: #333;
$color-gray: #ddd;




// 18F brand colors
$color-light:        #b3efff; // $color-light / $color-secondary-light
$color-bright:       #00cfff; // $color-bright / $color-secondary
$color-medium:       $purple-light; // $color-medium / $color-primary
$color-dark:         $purple-dark; // $color-dark / $color-primary-dark

$color-bright-hover: $purple-dark;
$color-medium-hover: $purple-dark;

$color-gray-light: #f1f1f1; // 18F brand color $color-gray-lightest
$color-gray-lightest: #fafafa; // 18F brand color $color-gray-hover
$color-inverse: #fff; // 18F brand color
$color-black: #000; // 18F brand color
